# .env
# Change this to your bucket name
BUCKET_NAME=my-bucket-name
# Change this to your project id
PROJECT_ID=my-project-id
# Change this to your GCS service file name in root order
CREDENTIALS_FILE_NAME=service-file-name
